[SMB]

# SMB stores session data server-side
# This should be some long random set of chars similar to the below
# Don't use the default shown, at least change a few chars here and there
# or better yet replace the whole string with something random you generate
session_key = 4p7g3bn8csbv8BxblahblahblahfBSRnnB7f6TfSMM4nPmz7mt3KCKK6hh3kc7SW8pFqpqsH

# This is your user id and password to loin
# SMB only supports a single login at this time
# user_id must be in email address format
# Don't use these defaults (should be obvious)
user_id = foo@foo.com
user_pswd = foobar

# If you're running the container internal to your network and it's 
# not exposed to the internet you can disable login entirely
# by setting this to True
disable_login = False

# must include trailing / for paths
# If these directories don't exist, SMB will attempt to create them
# If you want access to the files uploaded/downloaded then map docker
# volumes to /app/uploads and /app/downloads (inside container paths)
upload_path = ./uploads/
download_path = ./downloads/

# SMB provides quick access to up to 3 of your smugmug albums
# Map the albums you want to access to these variables
# albumx_name is and string you want to appear on the menu
# it doesn't have to match anything in smugmug
# albumx_id is the EXACT smugmug album ID that menu will operate on
album1_name = Hello
album1_id = ACCcs4
album2_name = MyHome
album2_id = Hf1pP4
album3_name = Other
album3_id = 2bnGfh

[SMUGMUG]
# These are the core configuration variables that are associated
# with accessing your account via the smugmug api
# For more information, google Smugmug API and read up
# The values in this example file are just made up, but are
# illustrative of what they various keys, tokens and secrets look like

# Your smugmug user name
username = myusername

# Your smugmug api consumer key
consumer_key = pHB1f347fFM3sjd83PHqqFgge8r96NNw
consumer_secret = gp7gXbn8csljdls17fa9382SMM4nPmz7dtflkjsdSW5pFqFqsH
access_token = mCfsfdljalsdfj9327GmNjBC9z9
access_token_secret = CLkGKfjflr827djslxuTEHklsjVNJP4bnqsvT