{% extends "layout.html" %}
{% block content %}
{% if not status_msg == "" %}
<p class="row text-danger">{{status_msg}}</p>
{% endif %}
<p class="row text-primary" >
   Please enter the credentials you would like to register to protect SMB.<br>
   Password complexity is not enforced, but highly recommended.<br><br>
   Login ID and password rules: <br>
   - alphanumeric and underscore chars only<br>
   - doesn't start with number<br>
   - doesn't contain whitespace<br>
   - max length login ID = 20 chars<br>
   - max length password = 30 chars<br>
    <br>
   You can come back here and change them anytime.
</p>
<!-- NEED TO BEEF THIS UP TO DO MORE CLIENT-SIDE VALIDATION PER THE ABOVE CONSTRAINTS-->
<form action="/credentials" method="POST">
   <div class="row mb-2">
      <label for="loginID" class="col-sm-1 col-form-label">New Login ID</label>
      <div class="col-sm-5">
         <input id="loginID" class="form-control" type="text" maxlength="20" size="20" placeholder="myLoginID" name="loginID" required>
      </div>
      <div class="valid-feedback">Valid.</div>
      <div class="invalid-feedback">You must enter a login ID.</div>
   </div>
   <div class="row mb-2">
      <label for="getPwd" class="col-sm-1 col-form-label">New Password</label>
      <div class="col-sm-5">
         <input id="getPwd" class="form-control" type="password" maxlength="30" size="30" placeholder="password" autocomplete="off"  name="pswd" required>
      </div>
      <div class="valid-feedback">Valid.</div>
      <div class="invalid-feedback">You must enter a password.</div>
   </div>
   <div class="row mb-2">
      <div class="col-sm-2 offset-sm-1">
         <button type="submit" class="btn btn-primary">Update</button>
      </div>
   </div>
</form>
{% endblock %}